#msg {
    font-size: 45px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 2%;
    font-weight: bolder;
}

#jam {
    font-size:x-large;
    margin-top: 1%;
    margin-left: 4%;
}

.box {
    background-image: url(background.jpg);
    background-position:left;
    background-size:cover;
}

body{
    background-image: url(background2.jpg);
    background-position:inherit;
    background-size: cover;
}

h1 {
    margin: 0%; bottom: 10px;
    padding: 0%;
    position: relative; top: -5px;
    font-size: 70px;
}

body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: brown;
}

#gmbr1 {
    position: relative; left: 50px;
}

#sblk {
    position: relative; left: 50px;
    font-size: 25px;
    margin-bottom: 2px;
}

#kwt {
    position: relative; left: 500px; bottom: 210px;
    font-size: 25px; 
    margin-bottom: 0%;
}

#gmbr2 {
    position: relative; left: 500px; bottom: 208px;
}

#mtt {
    position: relative; left: 950px; bottom: 417px;
    font-size: 25px; 
    margin-bottom: 0%;
}

#gmbr3 {
    position: relative; left: 950px; bottom: 416px;
}

#idm {
    position: relative; left: 50px; bottom: 300px;
    font-size: 25px; 
    margin-bottom: 0%;
}

#gmbr4 {
    position: relative; left: 50px; bottom: 297px;
}

#es {
    position: relative; left: 500px; bottom: 507px;
    font-size: 25px; 
    margin-bottom: 0%;
}

#gmbr5 {
    position: relative; left: 500px; bottom: 504px;
}

button {
    background-color: rgb(0, 255, 0);
    color: white;
    font-weight: bold;
    position: relative; left: -95px; bottom: 400px;
}